.hero-container{
    background-image: url('../Image/background.png');
    height: 850px;
    width: 100%;
    background-position: center;
    object-fit: cover;

    @media screen and(max-width:768px){
        // background-image: none !important;
        background-position: left;
    }

    .title{
        position: absolute;
        left: 22%;
        top: 50%;
        transform: translate(-22%,-50%);

        @media screen and(max-width:768px){
            left: 50%;
            top: 50%;
            transform: translate(-50%,-50%);
            text-align: center;
        }
        

        h1{
            color: #0099ff;
            font-size: 40px;
            width: 370px;
            span{
                color: #000;
            }
            @media screen and(max-width:768px){
                text-align: center;
            }
            
        }
        p{
            margin-top: 1rem;
            margin-bottom: 1.5rem;
            color: #969696;
        }
        .btn-download{
            border: 2px solid #0099ff;
            padding: 0.6rem 1.3rem;
            border-radius: 10px;
            color: #0099ff;
            text-decoration: none;
            transition: 0.3s ease-in-out;
            box-shadow: 5px 10px 30px rgba(2, 238, 255, 0.336);

            &:hover{
                background-color: transparent;
                background-color: #0099ff;
                color: #fff;
            }
        }
    }
}